## ML Predict credict card

### import Libray

In [3]:
#import library
import sklearn
import warnings
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from mlxtend.classifier import StackingCVClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import r2_score

### Load data from Trian

In [4]:
# load data
df = pd.read_excel('train.xlsx')
df.head()
len(df)

14995

#### we will delete the collumn id cuz it not relevant to our prediction

In [5]:
# drop id column
df.drop(columns=['ID'],axis=1,inplace=True)

In [6]:
df

,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,...,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active,cc_cons
0,current,M,35,708,24893.00,378.00,10288.00,29664.00,16291.400,11432.00,...,40,24563.0,30051.32,12761.00,2,65,50836.00,Y,1674.09,20014
1,current,M,35,123,18941.62,966.00,20672.00,287.00,4217.000,885.00,...,78,23948.0,42119.05,76206.00,21,63,23226.00,Y,13043.34,10173
2,current,M,55,802,5678.87,2724.00,1964.50,3933.11,23956.250,5168.00,...,82,10752.0,58373.25,75283.00,7,1,27036.00,Y,25375.27,16095
3,current,F,29,867,30489.50,1236.00,12609.88,9138.14,17521.000,13650.30,...,38,12607.0,69851.51,68708.00,21,83,43037.00,Y,3544.33,7707
4,current,M,27,958,2328.22,1597.54,19979.75,1045.85,11686.255,628.00,...,2,21440.0,52292.68,199925.50,2,35,17284.00,Y,5026.50,130263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14990,current,F,53,653,10443.76,1218.85,7252.24,3873.00,6633.000,10107.00,...,8,6936.0,487751.19,42625.50,14,8,82851.00,Y,78966.76,4263
14991,current,M,44,535,29890.33,6308.00,16025.50,7610.00,2213.080,841.60,...,20,202639.0,8666.01,34987.55,11,18,118110.47,Y,4762.10,11019
14992,current,M,37,464,4148.98,948.74,19360.26,494.00,44363.910,1801.77,...,5,44421.0,97896.48,261432.00,4,73,49545.00,Y,2877.33,404227
14993,current,M,220,536,115574.00,7191.05,44341.13,34817.20,20679.000,1010.00,...,25,22409.0,22693.92,33025.29,3,80,16130.00,Y,13006.84,28813
14994,current,M,66,269,7375.67,306.80,5859.49,6702.40,33211.650,263.00,...,82,8084.0,41328.96,78574.00,47,50,22849.00,Y,1588.60,16252

#### checking missing value

In [7]:
round(df.isnull().sum())

account_type             0
gender                   0
age                      0
region_code              0
cc_cons_apr              0
dc_cons_apr              0
cc_cons_may              0
dc_cons_may              0
cc_cons_jun              0
dc_cons_jun              0
cc_count_apr             0
cc_count_may             0
cc_count_jun             0
dc_count_apr             0
dc_count_may             0
dc_count_jun             0
card_lim                 0
personal_loan_active     0
vehicle_loan_active      0
personal_loan_closed     0
vehicle_loan_closed      0
investment_1             0
investment_2             0
investment_3             0
investment_4             0
debit_amount_apr         0
credit_amount_apr        0
debit_count_apr          0
credit_count_apr         0
max_credit_amount_apr    0
debit_amount_may         0
credit_amount_may        0
credit_count_may         0
debit_count_may          0
max_credit_amount_may    0
debit_amount_jun         0
credit_amount_jun        0
credit_count_jun         0
debit_count_jun          0
max_credit_amount_jun    0
loan_enq                 0
emi_active               0
cc_cons                  0
dtype: int64

#### Split catepory for non-numeric col

In [8]:
# change the datatypes of the columns accordingly for generating dummies
categorical_columns=['account_type','gender','region_code','personal_loan_active',
                     'vehicle_loan_active','personal_loan_closed','vehicle_loan_closed','loan_enq']
for c in categorical_columns:
    df[c]=df[c].astype('category');

In [9]:
df

,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,...,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active,cc_cons
0,current,M,35,708,24893.00,378.00,10288.00,29664.00,16291.400,11432.00,...,40,24563.0,30051.32,12761.00,2,65,50836.00,Y,1674.09,20014
1,current,M,35,123,18941.62,966.00,20672.00,287.00,4217.000,885.00,...,78,23948.0,42119.05,76206.00,21,63,23226.00,Y,13043.34,10173
2,current,M,55,802,5678.87,2724.00,1964.50,3933.11,23956.250,5168.00,...,82,10752.0,58373.25,75283.00,7,1,27036.00,Y,25375.27,16095
3,current,F,29,867,30489.50,1236.00,12609.88,9138.14,17521.000,13650.30,...,38,12607.0,69851.51,68708.00,21,83,43037.00,Y,3544.33,7707
4,current,M,27,958,2328.22,1597.54,19979.75,1045.85,11686.255,628.00,...,2,21440.0,52292.68,199925.50,2,35,17284.00,Y,5026.50,130263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14990,current,F,53,653,10443.76,1218.85,7252.24,3873.00,6633.000,10107.00,...,8,6936.0,487751.19,42625.50,14,8,82851.00,Y,78966.76,4263
14991,current,M,44,535,29890.33,6308.00,16025.50,7610.00,2213.080,841.60,...,20,202639.0,8666.01,34987.55,11,18,118110.47,Y,4762.10,11019
14992,current,M,37,464,4148.98,948.74,19360.26,494.00,44363.910,1801.77,...,5,44421.0,97896.48,261432.00,4,73,49545.00,Y,2877.33,404227
14993,current,M,220,536,115574.00,7191.05,44341.13,34817.20,20679.000,1010.00,...,25,22409.0,22693.92,33025.29,3,80,16130.00,Y,13006.84,28813
14994,current,M,66,269,7375.67,306.80,5859.49,6702.40,33211.650,263.00,...,82,8084.0,41328.96,78574.00,47,50,22849.00,Y,1588.60,16252

### Feature Engineering

In [10]:
# split df into x and y for train_test_split
df_X=df.drop(columns=['cc_cons','region_code'])
df_X.head()

,account_type,gender,age,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,...,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active
0,current,M,35,24893.00,378.00,10288.00,29664.00,16291.400,11432.0,2,...,2,40,24563.0,30051.32,12761.0,2,65,50836.0,Y,1674.09
1,current,M,35,18941.62,966.00,20672.00,287.00,4217.000,885.0,1,...,2,78,23948.0,42119.05,76206.0,21,63,23226.0,Y,13043.34
2,current,M,55,5678.87,2724.00,1964.50,3933.11,23956.250,5168.0,43,...,2,82,10752.0,58373.25,75283.0,7,1,27036.0,Y,25375.27
3,current,F,29,30489.50,1236.00,12609.88,9138.14,17521.000,13650.3,53,...,23,38,12607.0,69851.51,68708.0,21,83,43037.0,Y,3544.33
4,current,M,27,2328.22,1597.54,19979.75,1045.85,11686.255,628.0,6,...,43,2,21440.0,52292.68,199925.5,2,35,17284.0,Y,5026.50

In [11]:
df_Y=df['cc_cons']
df_Y.head()

0     20014
1     10173
2     16095
3      7707
4    130263
Name: cc_cons, dtype: int64

In [12]:
# create calculated fields
# Total dc and cc cons for 3 months
df_X['cc_cons_sum']= df_X['cc_cons_apr'] + df_X['cc_cons_may'] + df_X['cc_cons_jun']
df_X['dc_cons_sum']= df_X['dc_cons_apr']+ df_X['dc_cons_may'] + df_X['dc_cons_jun']
# Total dc and cc count for 3 months
df_X['cc_count_sum'] = df_X['cc_count_apr'] + df_X['cc_count_may'] + df_X['cc_count_jun']
df_X['dc_count_sum'] = df_X['dc_count_apr'] + df_X['dc_count_may'] + df_X['dc_count_jun']
# Total dc and cc cons average for 3 months
df_X['cc_cons_avg'] = 0
df_X.loc[df_X.cc_count_sum != 0,'cc_cons_avg'] = df_X.loc[df_X.cc_count_sum != 0,'cc_cons_sum']/df_X.loc[df_X.cc_count_sum != 0,'cc_count_sum']
df_X['dc_cons_avg'] = 0
df_X.loc[df_X.dc_count_sum != 0,'dc_cons_avg'] = df_X.loc[df_X.dc_count_sum != 0,'dc_cons_sum']/df_X.loc[df_X.dc_count_sum != 0,'dc_count_sum']
# Average dc cons for each month
df_X['dc_cons_apr_avg']= 0
df_X.loc[df_X.dc_count_apr != 0,'dc_cons_apr_avg'] = df_X.loc[df_X.dc_count_apr != 0,'dc_cons_apr']/df_X.loc[df_X.dc_count_apr != 0,'dc_count_apr']
df_X['dc_cons_may_avg'] = 0
df_X.loc[df_X.dc_count_may != 0,'dc_cons_may_avg'] = df_X.loc[df_X.dc_count_may != 0,'dc_cons_may']/df_X.loc[df_X.dc_count_may != 0,'dc_count_may']
df_X['dc_cons_jun_avg']= 0
df_X.loc[df_X.dc_count_jun != 0,'dc_cons_jun_avg'] = df_X.loc[df_X.dc_count_jun != 0,'dc_cons_jun']/df_X.loc[df_X.dc_count_jun != 0,'dc_count_jun']
# Average cc cons for each month
df_X['cc_cons_apr_avg'] = 0
df_X.loc[df_X.cc_count_apr != 0,'cc_cons_apr_avg'] = df_X.loc[df_X.cc_count_apr != 0,'cc_cons_apr']/df_X.loc[df_X.cc_count_apr != 0,'cc_count_apr']
df_X['cc_cons_may_avg'] = 0
df_X.loc[df_X.cc_count_may != 0,'cc_cons_may_avg'] = df_X.loc[df_X.cc_count_may != 0,'cc_cons_may']/df_X.loc[df_X.cc_count_may != 0,'cc_count_may']
df_X['cc_cons_jun_avg'] = 0
df_X.loc[df_X.cc_count_jun != 0,'cc_cons_jun_avg'] = df_X.loc[df_X.cc_count_jun != 0,'cc_cons_jun']/df_X.loc[df_X.cc_count_jun != 0,'cc_count_jun']

In [13]:
# Total credit and debit amount for 3 months
df_X['credit_amount_sum'] = df_X.credit_amount_apr + df_X.credit_amount_may + df_X.credit_amount_jun
df_X['debit_amount_sum'] = df_X.debit_amount_apr + df_X.debit_amount_may + df_X.debit_amount_jun
# Total credit and debit count for 3 months
df_X['credit_count_sum'] = df_X.credit_count_apr + df_X.credit_count_may + df_X.credit_count_jun
df_X['debit_count_sum'] = df_X.debit_count_apr + df_X.debit_count_may + df_X.debit_count_jun
# Total credit and debit amount average for 3 months
df_X['credit_amount_avg'] = 0
df_X.loc[df_X.credit_count_sum != 0,'credit_amount_avg'] = df_X.loc[df_X.credit_count_sum != 0,'credit_amount_sum']/df_X.loc[df_X.credit_count_sum != 0,'credit_count_sum']
df_X['debit_amount_avg'] = 0
df_X.loc[df_X.debit_count_sum != 0,'debit_amount_avg'] = df_X.loc[df_X.debit_count_sum != 0,'debit_amount_sum']/df_X.loc[df_X.debit_count_sum != 0,'debit_count_sum']
# average debit amount for each month
df_X['debit_amount_apr_avg']= 0
df_X.loc[df_X.debit_count_apr != 0,'debit_amount_apr_avg'] = df_X.loc[df_X.debit_count_apr != 0,'debit_amount_apr']/df_X.loc[df_X.debit_count_apr != 0,'debit_count_apr']
df_X['debit_amount_may_avg'] = 0
df_X.loc[df_X.debit_count_may != 0,'debit_amount_may_avg'] = df_X.loc[df_X.debit_count_may != 0,'debit_amount_may']/df_X.loc[df_X.debit_count_may != 0,'debit_count_may']
df_X['debit_amount_jun_avg'] = 0
df_X.loc[df_X.debit_count_jun != 0,'debit_amount_jun_avg'] = df_X.loc[df_X.debit_count_jun != 0,'debit_amount_jun']/df_X.loc[df_X.debit_count_jun != 0,'debit_count_jun']
# average credit amount for each month
df_X['credit_amount_apr_avg'] = 0
df_X.loc[df_X.credit_count_apr != 0,'credit_amount_apr_avg'] = df_X.loc[df_X.credit_count_apr != 0,'credit_amount_apr']/df_X.loc[df_X.credit_count_apr != 0,'credit_count_apr']
df_X['credit_amount_may_avg'] = 0
df_X.loc[df_X.credit_count_may != 0,'credit_amount_may_avg'] = df_X.loc[df_X.credit_count_may != 0,'credit_amount_may']/df_X.loc[df_X.credit_count_may != 0,'credit_count_may']
df_X['credit_amount_jun_avg'] = 0
df_X.loc[df_X.credit_count_jun != 0,'credit_amount_jun_avg'] = df_X.loc[df_X.credit_count_jun != 0,'credit_amount_jun']/df_X.loc[df_X.credit_count_jun != 0,'credit_count_jun']

In [14]:
# percentage credit amount per month
df_X['perc_credit_amount_apr'] = 0
df_X.loc[df_X.max_credit_amount_apr!= 0,'perc_credit_amount_apr'] = df_X.loc[df_X.max_credit_amount_apr!= 0,'credit_amount_apr']/df_X.loc[df_X.max_credit_amount_apr!= 0,'max_credit_amount_apr']
df_X['perc_credit_amount_may'] = 0
df_X.loc[df_X.max_credit_amount_may!= 0,'perc_credit_amount_may'] = df_X.loc[df_X.max_credit_amount_may!= 0,'credit_amount_may']/df_X.loc[df_X.max_credit_amount_may!= 0,'max_credit_amount_may']
df_X['perc_credit_amount_jun'] = 0
df_X.loc[df_X.max_credit_amount_jun!= 0,'perc_credit_amount_jun'] = df_X.loc[df_X.max_credit_amount_jun!= 0,'credit_amount_jun']/df_X.loc[df_X.max_credit_amount_jun!= 0,'max_credit_amount_jun']

In [15]:
# proportion of debit and credit consumptions per month
df_X['cc_cons_apr_prop'] = 0
df_X.loc[df_X.cc_cons_sum!= 0,'cc_cons_apr_prop'] = df_X.loc[df_X.cc_cons_sum!= 0,'cc_cons_apr']/df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_sum']
df_X['cc_cons_may_prop'] = 0
df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_may_prop'] = df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_may']/df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_sum']
df_X['cc_cons_jun_prop'] = 0
df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_jun_prop'] = df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_jun']/df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_sum']
df_X['dc_cons_apr_prop'] = 0
df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_apr_prop'] = df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_apr']/df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_sum']
df_X['dc_cons_may_prop'] = 0
df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_may_prop'] = df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_may']/df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_sum']
df_X['dc_cons_jun_prop'] = 0
df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_jun_prop'] = df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_jun']/df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_sum']

In [16]:
# proportion of debit and credit amounts per month
df_X['credit_amount_apr_prop'] = 0
df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_apr_prop'] = df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_apr']/df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_sum']
df_X['credit_amount_may_prop'] = 0
df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_may_prop'] = df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_may']/df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_sum']
df_X['credit_amount_jun_prop'] = 0
df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_jun_prop'] = df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_jun']/df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_sum']
df_X['debit_amount_apr_prop'] = 0
df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_apr_prop'] = df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_apr']/df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_sum']
df_X['debit_amount_may_prop'] = 0
df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_may_prop'] = df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_may']/df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_sum']
df_X['debit_amount_jun_prop'] = 0
df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_jun_prop'] = df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_jun']/df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_sum']

In [17]:
# debit by credit cons and amount ratios
df_X['d_by_c_cons_ratio_apr'] = 0
df_X.loc[df_X.cc_cons_apr != 0,'d_by_c_cons_ratio_apr'] = df_X.loc[df_X.cc_cons_apr != 0,'dc_cons_apr']/df_X.loc[df_X.cc_cons_apr != 0,'cc_cons_apr']
df_X['d_by_c_cons_ratio_may'] = 0
df_X.loc[df_X.cc_cons_may != 0,'d_by_c_cons_ratio_may'] = df_X.loc[df_X.cc_cons_may != 0,'dc_cons_may']/df_X.loc[df_X.cc_cons_may != 0,'cc_cons_may']
df_X['d_by_c_cons_ratio_jun'] = 0
df_X.loc[df_X.cc_cons_jun != 0,'d_by_c_cons_ratio_jun'] = df_X.loc[df_X.cc_cons_jun != 0,'dc_cons_jun']/df_X.loc[df_X.cc_cons_jun != 0,'cc_cons_jun']
df_X['d_by_c_amount_ratio_apr'] = 0
df_X.loc[df_X.credit_amount_apr != 0,'d_by_c_amount_ratio_apr'] = df_X.loc[df_X.credit_amount_apr != 0,'debit_amount_apr']/df_X.loc[df_X.credit_amount_apr != 0,'credit_amount_apr']
df_X['d_by_c_amount_ratio_may'] = 0
df_X.loc[df_X.credit_amount_may != 0,'d_by_c_amount_ratio_may'] = df_X.loc[df_X.credit_amount_may != 0,'debit_amount_may']/df_X.loc[df_X.credit_amount_may != 0,'credit_amount_may']
df_X['d_by_c_amount_ratio_jun'] = 0
df_X.loc[df_X.credit_amount_jun != 0,'d_by_c_amount_ratio_jun'] = df_X.loc[df_X.credit_amount_jun != 0,'debit_amount_jun']/df_X.loc[df_X.credit_amount_jun != 0,'credit_amount_jun']

###### In the provided code snippet, the target variable cc_cons is being transformed using the natural logarithm (log) in order to directly optimize the Root Mean Squared Log Error (RMSLE) during model training. This transformation is commonly used when the target variable has a skewed distribution or a wide range of values, and the RMSLE metric is commonly used for evaluating models when dealing with such data.

In [18]:
# convert cc_cons to log to directly optimize RMSLE
df_Y=np.log(df_Y+1)

In [19]:
df_Y

0         9.904237
1         9.227591
2         9.686326
3         8.950014
4        11.777318
           ...
14990     8.357963
14991     9.307467
14992    12.909734
14993    10.268617
14994     9.696033
Name: cc_cons, Length: 14995, dtype: float64

In [20]:
len(df_X.columns)

86

In [21]:
df_X.columns

Index(['account_type', 'gender', 'age', 'cc_cons_apr', 'dc_cons_apr',
       'cc_cons_may', 'dc_cons_may', 'cc_cons_jun', 'dc_cons_jun',
       'cc_count_apr', 'cc_count_may', 'cc_count_jun', 'dc_count_apr',
       'dc_count_may', 'dc_count_jun', 'card_lim', 'personal_loan_active',
       'vehicle_loan_active', 'personal_loan_closed', 'vehicle_loan_closed',
       'investment_1', 'investment_2', 'investment_3', 'investment_4',
       'debit_amount_apr', 'credit_amount_apr', 'debit_count_apr',
       'credit_count_apr', 'max_credit_amount_apr', 'debit_amount_may',
       'credit_amount_may', 'credit_count_may', 'debit_count_may',
       'max_credit_amount_may', 'debit_amount_jun', 'credit_amount_jun',
       'credit_count_jun', 'debit_count_jun', 'max_credit_amount_jun',
       'loan_enq', 'emi_active', 'cc_cons_sum', 'dc_cons_sum', 'cc_count_sum',
       'dc_count_sum', 'cc_cons_avg', 'dc_cons_avg', 'dc_cons_apr_avg',
       'dc_cons_may_avg', 'dc_cons_jun_avg', 'cc_cons_apr_avg',
       'cc_cons_may_avg', 'cc_cons_jun_avg', 'credit_amount_sum',
       'debit_amount_sum', 'credit_count_sum', 'debit_count_sum',
       'credit_amount_avg', 'debit_amount_avg', 'debit_amount_apr_avg',
       'debit_amount_may_avg', 'debit_amount_jun_avg', 'credit_amount_apr_avg',
       'credit_amount_may_avg', 'credit_amount_jun_avg',
       'perc_credit_amount_apr', 'perc_credit_amount_may',
       'perc_credit_amount_jun', 'cc_cons_apr_prop', 'cc_cons_may_prop',
       'cc_cons_jun_prop', 'dc_cons_apr_prop', 'dc_cons_may_prop',
       'dc_cons_jun_prop', 'credit_amount_apr_prop', 'credit_amount_may_prop',
       'credit_amount_jun_prop', 'debit_amount_apr_prop',
       'debit_amount_may_prop', 'debit_amount_jun_prop',
       'd_by_c_cons_ratio_apr', 'd_by_c_cons_ratio_may',
       'd_by_c_cons_ratio_jun', 'd_by_c_amount_ratio_apr',
       'd_by_c_amount_ratio_may', 'd_by_c_amount_ratio_jun'],
      dtype='object')

### Train and Test Split

In [22]:
# generate dummy values
df_X=pd.get_dummies(df_X,drop_first=True)

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(df_X,df_Y,test_size=0.25,random_state=33)

### Modeling

In [36]:
#create Function for machine learning
def rmspe(Y_true, y_pred):
    percentage_diff = (abs((Y_true - y_pred) / Y_true)) * 100
    squared_percentage_diff = np.square(percentage_diff)
    mean_squared_percentage_diff = np.mean(squared_percentage_diff)
    rmspe = np.sqrt(mean_squared_percentage_diff)
    return rmspe

print('Linear Regression Model')
lin_model = LinearRegression()
lin_model.fit(X_train,Y_train)
y_pred = lin_model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
r2 = r2_score(Y_test, y_pred)
rmspe_score = rmspe(Y_test, y_pred)
print(f'\nMean Squared Error: {mse:.2f}')
print(f'R-squared: {r2:.2f}')
print(f'RMSPE: {rmspe_score:.2f}')
print('___'*20)

print('Decision Tree Regression Model')
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train,Y_train)
y_pred = dt_model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
r2 = r2_score(Y_test, y_pred)
rmspe_score = rmspe(Y_test, y_pred)
print(f'\nMean Squared Error: {mse:.2f}')
print(f'R-squared: {r2:.2f}')
print(f'RMSPE: {rmspe_score:.2f}')
print('___'*20)

print('Random Forest Regression Model')
rf_model = RandomForestRegressor()
rf_model.fit(X_train,Y_train)
y_pred = rf_model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
r2 = r2_score(Y_test, y_pred)
rmspe_score = rmspe(Y_test, y_pred)
print(f'\nMean Squared Error: {mse:.2f}')
print(f'R-squared: {r2:.2f}')
print(f'RMSPE: {rmspe_score:.2f}')
print('___'*20)

print('XGB Regression Model')
xgb_model = XGBRegressor()
xgb_model.fit(X_train,Y_train)
y_pred = xgb_model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
r2 = r2_score(Y_test, y_pred)
rmspe_score = rmspe(Y_test, y_pred)
print(f'\nMean Squared Error: {mse:.2f}')
print(f'R-squared: {r2:.2f}')
print(f'RMSPE: {rmspe_score:.2f}')
print('___'*20)

Linear Regression Model

Mean Squared Error: 2.59
R-squared: -0.01
RMSPE: 22.16
____________________________________________________________
Decision Tree Regression Model

Mean Squared Error: 5.36
R-squared: -1.08
RMSPE: 29.21
____________________________________________________________
Random Forest Regression Model

Mean Squared Error: 2.61
R-squared: -0.02
RMSPE: 22.31
____________________________________________________________
XGB Regression Model

Mean Squared Error: 2.97
R-squared: -0.15
RMSPE: 23.46
____________________________________________________________

### Final Predictions

#### Load test data

In [37]:
test=pd.read_excel('test.xlsx')
len(test)
test.head()

,ID,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,...,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active,cc_cons
0,17591,current,M,37,575,2795.45,1290.0,6141.05,676.50,9146.10,...,20,9750.0,30527.88,31271.00,3,12,25945.92,Y,1170.49,NaN
1,13541,current,M,33,394,29405.13,1640.0,1670.00,2463.92,10947.50,...,40,16967.0,14342.83,16582.00,6,39,12214.00,Y,16447.45,NaN
2,13431,current,M,53,324,5985.20,6189.0,2696.09,766.00,716.00,...,35,36398.0,32503.16,33539.54,5,9,13215.00,Y,2622.28,NaN
3,8687,current,M,33,370,2105.93,18225.0,34763.56,167.00,4260.27,...,5,97825.0,93572.42,109429.75,21,0,72317.00,Y,340.79,NaN
4,14727,current,M,62,505,3269.00,3532.0,3158.40,2699.77,3373.48,...,75,27936.0,19011.50,41401.00,6,35,42344.00,Y,2812.20,NaN

#### Checking the missing value

In [38]:
# cross check missing values
test.isnull().sum()

ID                          0
account_type                0
gender                      0
age                         0
region_code                 0
cc_cons_apr                 0
dc_cons_apr                 0
cc_cons_may                 0
dc_cons_may                 0
cc_cons_jun                 0
dc_cons_jun                 0
cc_count_apr                0
cc_count_may                0
cc_count_jun                0
dc_count_apr                0
dc_count_may                0
dc_count_jun                0
card_lim                    0
personal_loan_active        0
vehicle_loan_active         0
personal_loan_closed        0
vehicle_loan_closed         0
investment_1                0
investment_2                0
investment_3                0
investment_4                0
debit_amount_apr            0
credit_amount_apr           0
debit_count_apr             0
credit_count_apr            0
max_credit_amount_apr       0
debit_amount_may            0
credit_amount_may           0
credit_count_may            0
debit_count_may             0
max_credit_amount_may       0
debit_amount_jun            0
credit_amount_jun           0
credit_count_jun            0
debit_count_jun             0
max_credit_amount_jun       0
loan_enq                    0
emi_active                  0
cc_cons                  4996
dtype: int64

#### Treat the missing value

In [39]:
test.drop(columns=['cc_cons'],axis=1,inplace=True)

#### Feature Engineering

In [40]:
# change the datatypes of the columns accordingly for generating dummies
categorical_columns=['account_type','gender','region_code','personal_loan_active',
                     'vehicle_loan_active','personal_loan_closed','vehicle_loan_closed','loan_enq']
for c in categorical_columns:
    test[c]=test[c].astype('category');

In [41]:
test=test.drop(columns=['region_code'])
# create calculated fields
# Total dc and cc cons for 3 months
test['cc_cons_sum']= test['cc_cons_apr'] + test['cc_cons_may'] + test['cc_cons_jun']
test['dc_cons_sum']= test['dc_cons_apr']+ test['dc_cons_may'] + test['dc_cons_jun']
# Total dc and cc count for 3 months
test['cc_count_sum'] = test['cc_count_apr'] + test['cc_count_may'] + test['cc_count_jun']
test['dc_count_sum'] = test['dc_count_apr'] + test['dc_count_may'] + test['dc_count_jun']
# Total dc and cc cons average for 3 months
test['cc_cons_avg'] = 0
test.loc[test.cc_count_sum != 0,'cc_cons_avg'] = test.loc[test.cc_count_sum != 0,'cc_cons_sum']/test.loc[test.cc_count_sum != 0,'cc_count_sum']
test['dc_cons_avg'] = 0
test.loc[test.dc_count_sum != 0,'dc_cons_avg'] = test.loc[test.dc_count_sum != 0,'dc_cons_sum']/test.loc[test.dc_count_sum != 0,'dc_count_sum']
# Average dc cons for each month
test['dc_cons_apr_avg']= 0
test.loc[test.dc_count_apr != 0,'dc_cons_apr_avg'] = test.loc[test.dc_count_apr != 0,'dc_cons_apr']/test.loc[test.dc_count_apr != 0,'dc_count_apr']
test['dc_cons_may_avg'] = 0
test.loc[test.dc_count_may != 0,'dc_cons_may_avg'] = test.loc[test.dc_count_may != 0,'dc_cons_may']/test.loc[test.dc_count_may != 0,'dc_count_may']
test['dc_cons_jun_avg']= 0
test.loc[test.dc_count_jun != 0,'dc_cons_jun_avg'] = test.loc[test.dc_count_jun != 0,'dc_cons_jun']/test.loc[test.dc_count_jun != 0,'dc_count_jun']
# Average cc cons for each month
test['cc_cons_apr_avg'] = 0
test.loc[test.cc_count_apr != 0,'cc_cons_apr_avg'] = test.loc[test.cc_count_apr != 0,'cc_cons_apr']/test.loc[test.cc_count_apr != 0,'cc_count_apr']
test['cc_cons_may_avg'] = 0
test.loc[test.cc_count_may != 0,'cc_cons_may_avg'] = test.loc[test.cc_count_may != 0,'cc_cons_may']/test.loc[test.cc_count_may != 0,'cc_count_may']
test['cc_cons_jun_avg'] = 0
test.loc[test.cc_count_jun != 0,'cc_cons_jun_avg'] = test.loc[test.cc_count_jun != 0,'cc_cons_jun']/test.loc[test.cc_count_jun != 0,'cc_count_jun']
# Total credit and debit amount for 3 months
test['credit_amount_sum'] = test.credit_amount_apr + test.credit_amount_may + test.credit_amount_jun
test['debit_amount_sum'] = test.debit_amount_apr + test.debit_amount_may + test.debit_amount_jun
# Total credit and debit count for 3 months
test['credit_count_sum'] = test.credit_count_apr + test.credit_count_may + test.credit_count_jun
test['debit_count_sum'] = test.debit_count_apr + test.debit_count_may + test.debit_count_jun
# Total credit and debit amount average for 3 months
test['credit_amount_avg'] = 0
test.loc[test.credit_count_sum != 0,'credit_amount_avg'] = test.loc[test.credit_count_sum != 0,'credit_amount_sum']/test.loc[test.credit_count_sum != 0,'credit_count_sum']
test['debit_amount_avg'] = 0
test.loc[test.debit_count_sum != 0,'debit_amount_avg'] = test.loc[test.debit_count_sum != 0,'debit_amount_sum']/test.loc[test.debit_count_sum != 0,'debit_count_sum']
# average debit amount for each month
test['debit_amount_apr_avg']= 0
test.loc[test.debit_count_apr != 0,'debit_amount_apr_avg'] = test.loc[test.debit_count_apr != 0,'debit_amount_apr']/test.loc[test.debit_count_apr != 0,'debit_count_apr']
test['debit_amount_may_avg'] = 0
test.loc[test.debit_count_may != 0,'debit_amount_may_avg'] = test.loc[test.debit_count_may != 0,'debit_amount_may']/test.loc[test.debit_count_may != 0,'debit_count_may']
test['debit_amount_jun_avg'] = 0
test.loc[test.debit_count_jun != 0,'debit_amount_jun_avg'] = test.loc[test.debit_count_jun != 0,'debit_amount_jun']/test.loc[test.debit_count_jun != 0,'debit_count_jun']
# average credit amount for each month
test['credit_amount_apr_avg'] = 0
test.loc[test.credit_count_apr != 0,'credit_amount_apr_avg'] = test.loc[test.credit_count_apr != 0,'credit_amount_apr']/test.loc[test.credit_count_apr != 0,'credit_count_apr']
test['credit_amount_may_avg'] = 0
test.loc[test.credit_count_may != 0,'credit_amount_may_avg'] = test.loc[test.credit_count_may != 0,'credit_amount_may']/test.loc[test.credit_count_may != 0,'credit_count_may']
test['credit_amount_jun_avg'] = 0
test.loc[test.credit_count_jun != 0,'credit_amount_jun_avg'] = test.loc[test.credit_count_jun != 0,'credit_amount_jun']/test.loc[test.credit_count_jun != 0,'credit_count_jun']
# percentage credit amount per month
test['perc_credit_amount_apr'] = 0
test.loc[test.max_credit_amount_apr!= 0,'perc_credit_amount_apr'] = test.loc[test.max_credit_amount_apr!= 0,'credit_amount_apr']/test.loc[test.max_credit_amount_apr!= 0,'max_credit_amount_apr']
test['perc_credit_amount_may'] = 0
test.loc[test.max_credit_amount_may!= 0,'perc_credit_amount_may'] = test.loc[test.max_credit_amount_may!= 0,'credit_amount_may']/test.loc[test.max_credit_amount_may!= 0,'max_credit_amount_may']
test['perc_credit_amount_jun'] = 0
test.loc[test.max_credit_amount_jun!= 0,'perc_credit_amount_jun'] = test.loc[test.max_credit_amount_jun!= 0,'credit_amount_jun']/test.loc[test.max_credit_amount_jun!= 0,'max_credit_amount_jun']
# proportion of debit and credit consumptions per month
test['cc_cons_apr_prop'] = 0
test.loc[test.cc_cons_sum!= 0,'cc_cons_apr_prop'] = test.loc[test.cc_cons_sum!= 0,'cc_cons_apr']/test.loc[test.cc_cons_sum != 0,'cc_cons_sum']
test['cc_cons_may_prop'] = 0
test.loc[test.cc_cons_sum != 0,'cc_cons_may_prop'] = test.loc[test.cc_cons_sum != 0,'cc_cons_may']/test.loc[test.cc_cons_sum != 0,'cc_cons_sum']
test['cc_cons_jun_prop'] = 0
test.loc[test.cc_cons_sum != 0,'cc_cons_jun_prop'] = test.loc[test.cc_cons_sum != 0,'cc_cons_jun']/test.loc[test.cc_cons_sum != 0,'cc_cons_sum']
test['dc_cons_apr_prop'] = 0
test.loc[test.dc_cons_sum != 0,'dc_cons_apr_prop'] = test.loc[test.dc_cons_sum != 0,'dc_cons_apr']/test.loc[test.dc_cons_sum != 0,'dc_cons_sum']
test['dc_cons_may_prop'] = 0
test.loc[test.dc_cons_sum != 0,'dc_cons_may_prop'] = test.loc[test.dc_cons_sum != 0,'dc_cons_may']/test.loc[test.dc_cons_sum != 0,'dc_cons_sum']
test['dc_cons_jun_prop'] = 0
test.loc[test.dc_cons_sum != 0,'dc_cons_jun_prop'] = test.loc[test.dc_cons_sum != 0,'dc_cons_jun']/test.loc[test.dc_cons_sum != 0,'dc_cons_sum']
# proportion of debit and credit amounts per month
test['credit_amount_apr_prop'] = 0
test.loc[test.credit_amount_sum != 0,'credit_amount_apr_prop'] = test.loc[test.credit_amount_sum != 0,'credit_amount_apr']/test.loc[test.credit_amount_sum != 0,'credit_amount_sum']
test['credit_amount_may_prop'] = 0
test.loc[test.credit_amount_sum != 0,'credit_amount_may_prop'] = test.loc[test.credit_amount_sum != 0,'credit_amount_may']/test.loc[test.credit_amount_sum != 0,'credit_amount_sum']
test['credit_amount_jun_prop'] = 0
test.loc[test.credit_amount_sum != 0,'credit_amount_jun_prop'] = test.loc[test.credit_amount_sum != 0,'credit_amount_jun']/test.loc[test.credit_amount_sum != 0,'credit_amount_sum']
test['debit_amount_apr_prop'] = 0
test.loc[test.debit_amount_sum != 0,'debit_amount_apr_prop'] = test.loc[test.debit_amount_sum != 0,'debit_amount_apr']/test.loc[test.debit_amount_sum != 0,'debit_amount_sum']
test['debit_amount_may_prop'] = 0
test.loc[test.debit_amount_sum != 0,'debit_amount_may_prop'] = test.loc[test.debit_amount_sum != 0,'debit_amount_may']/test.loc[test.debit_amount_sum != 0,'debit_amount_sum']
test['debit_amount_jun_prop'] = 0
test.loc[test.debit_amount_sum != 0,'debit_amount_jun_prop'] = test.loc[test.debit_amount_sum != 0,'debit_amount_jun']/test.loc[test.debit_amount_sum != 0,'debit_amount_sum']
# debit by credit cons and amount ratios
test['d_by_c_cons_ratio_apr'] = 0
test.loc[test.cc_cons_apr != 0,'d_by_c_cons_ratio_apr'] = test.loc[test.cc_cons_apr != 0,'dc_cons_apr']/test.loc[test.cc_cons_apr != 0,'cc_cons_apr']
test['d_by_c_cons_ratio_may'] = 0
test.loc[test.cc_cons_may != 0,'d_by_c_cons_ratio_may'] = test.loc[test.cc_cons_may != 0,'dc_cons_may']/test.loc[test.cc_cons_may != 0,'cc_cons_may']
test['d_by_c_cons_ratio_jun'] = 0
test.loc[test.cc_cons_jun != 0,'d_by_c_cons_ratio_jun'] = test.loc[test.cc_cons_jun != 0,'dc_cons_jun']/test.loc[test.cc_cons_jun != 0,'cc_cons_jun']
test['d_by_c_amount_ratio_apr'] = 0
test.loc[test.credit_amount_apr != 0,'d_by_c_amount_ratio_apr'] = test.loc[test.credit_amount_apr != 0,'debit_amount_apr']/test.loc[test.credit_amount_apr != 0,'credit_amount_apr']
test['d_by_c_amount_ratio_may'] = 0
test.loc[test.credit_amount_may != 0,'d_by_c_amount_ratio_may'] = test.loc[test.credit_amount_may != 0,'debit_amount_may']/test.loc[test.credit_amount_may != 0,'credit_amount_may']
test['d_by_c_amount_ratio_jun'] = 0
test.loc[test.credit_amount_jun != 0,'d_by_c_amount_ratio_jun'] = test.loc[test.credit_amount_jun != 0,'debit_amount_jun']/test.loc[test.credit_amount_jun != 0,'credit_amount_jun']
len(test.columns)

87

#### Prediction

In [42]:
# generate dummy values
test_X=pd.get_dummies(test.drop(columns=['ID']),drop_first=True)
test_Y=lin_model.predict(test_X.values)

c:\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [45]:
sample_submission=pd.concat([test['ID'], pd.Series(test_Y)], axis=1)
sample_submission.rename(columns={0:'cc_cons'},inplace=True)
sample_submission['cc_cons']=np.exp(sample_submission['cc_cons'])-1
sample_submission.to_excel('final_prediction.xlsx',index=False)
sample_submission.head()

      ID       cc_cons
0  17591  14528.655682
1  13541  14438.632880
2  13431  15261.723434
3   8687  16255.107317
4  14727  16036.539070